p {
  margin: 10px 0 !important;
}

.login-container {
  width: 400px;
  margin-top: 40px;
  text-align: center;
}

.btn-float {
  float: left;
  margin-right: 10px;
}

.img-small {
  width: 180px;
}

.card .card-image img {
  width: auto;
  border-radius: 20px;
}